{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<div id="website">

<div id="header">
{% block header %}
    <h2 style="color: white">MyTube</h2>
    <p><a style="color: white" href="{% url 'login' %}">Login</a> <a style="color: white" href="{% url 'register' %}">Register</a></p>
{% endblock %}
</div>

<div id="aside">
{% block aside %}
{% endblock %}
</div>

<div id="content">
{% block content %}
    {% block form %}
    {% endblock %}
{% endblock %}
</div>
</html>